<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: '{{ shopify_api_key|escapejs }}',
      shopOrigin: 'https://' + '{{ shop_url|escapejs }}'
    });
  </script>
  
  <script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      icon: '',
      title: 'The App Title',
      buttons: { 
        primary: {
          label: 'Save', 
          message: 'save', 
          callback: function(){ 
            ShopifyApp.Bar.loadingOn();
            // doSomeCustomAction();
          }
        }
      }
    });
  });
  </script>
</head>

<body>
  <h1>Do something for '{{ shop_name|escapejs }}'</h1>
</body>